/* Dropdown Button */
.dropbtn {
  background-color: initial;
  padding: 5px;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  cursor: pointer;
  width: min-content;
  background-color: #0d6efd;
  color: white;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  justify-self: flex-end;
  /* float: right; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #d9ddfd;
  min-width: 100px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: start;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

